<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS</title>
  </head>
  <body>
    <form action="/check" method="post">
      <label for="text"></label>
      <input type="text" placeholder="name" name="name" />
      <label for="email"></label>
      <input type="email" placeholder="email" name="email" />
      <input type="submit" />
    </form>
  </body>
</html>
